.pics{
    height: 35vh;
    width: 250px;
    object-fit: cover
}
.my-card {
 
    margin: 0 auto 10px auto;
    width: calc(33.33% - 20px);
  }
  .row-cols-1 > * {
    padding-left: 0;
    padding-right: 0;
  }
  .about-header {
    margin: 30px 0; 
  }
  .members-title h1{
    text-align: center;
    letter-spacing: 1px;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
  }

  .founders-wrapper {
    margin-top: 50px;
    padding: 50px;
  }
  

  .about-wrapper {
    margin-top: 50px;
    padding: 50px;
  }
  
/* media queries  for responsiveness*/

@media (max-width: 767px) {
    .row-cols-3 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .row-cols-3 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 992px) {
    .row-cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 767px) {
    .row-cols-md-2 {
      flex-direction: column;
      align-items: center;
    }
    .hover-shadow {
      margin-bottom: 30px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .row-cols-md-2 {
      grid-template-columns: 1fr;
    }
    
    .row-cols-3 {
      grid-template-columns: 1fr;
    }
    
    .hover-shadow {
      width: 100%;
    }
    
    .pics {
      height: 200px;
      width: 100%;
     
    }
  }

  @media (max-width: 1000px) {
  .my-card {
    width: calc(60% - 20px);
  }
}

@media (max-width: 767.98px) {
  .my-card {
    width: calc(100% - 20px);
  }
}
@media (max-width: 1000px) {
  .pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pics  {
    max-width: 348px;
    max-height: 300px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .row-cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .row-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* iPad Air (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .pics{
    max-width: 100%;
    height: auto;
  }
}

/* iPad Air (portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .pics{
    max-width: 100%;
    height: auto;
  }
}
