.home .img-fluid {
    height: 15rem;
    width: 20rem;
    object-fit:cover;
}

.home .card {
    display: grid;
    place-content: center;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    height: 100%;
    min-width: 20rem;
}

.home .card-body{
    height: 10rem;
}

.eventCard .img-fluid {
    height: 20rem;
    width: 25rem;
    object-fit:cover;
}

.eventCard .card {
    
    background-color: white;
    color: black;
    font-size: 1.5rem;
    height: 100%;
    width: 25rem;
    
}

.eventCard .card-body{
    height: 14rem;
}

.eventCard .hover-zoom{
    /* padding: 1rem; */
    padding: 2rem 0 0 .2rem;
   
}

.eventCard{
    margin: 0 auto;
    
}


.cart .img-fluid {
    height: 20rem;
    width: 25rem;
    object-fit:cover;
}

/* .cart .hover-zoom{
    display: flex;
    flex-direction: column;
} */

.cart .card {
    
    background-color: white;
    color: black;
    font-size: 1.5rem;
    height: 100%;
    width: 25rem;
    
}

.cart .card-body{
    height: 14rem;
}

/* .cart .hover-zoom{
    padding: 1rem;
    padding: 2rem 0 0 .2rem;
   
} */

/* .cartContainer .cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

.cart{
    margin: 0 auto;
    
    
}

@media screen and (max-width: 480px){
    .cart .card{
        width: 20rem;
    }
}






